body {
    padding: 0px;
}
img {
  max-width: 100%;
}

.block {
    display: block;
}

.hidden {
    display: none;
}

.outer {
    border: 1px solid red;
    height: 100px;
    width: 100px;
}

.inner {
    position: relative;
    border: 1px dashed purple;
    display: inline-block;
}

.canvasbox {
    position: absolute;
    top: 380px;
    left: 470px;
    /* border-radius: 3px; */
    /* margin-right: 10px; */
    /* width:500px;
    height:300px; */
    /* border-bottom: 3px solid #0063FF; */
    /* box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 #00000030; */

}

.canvas {
    position: absolute;
    left: 470px;
    top: 380px;
    /* width: 500px;
    height: 300px; */
}

.flexgrid {
  margin-left: auto;
  margin-right: auto;
  display:flex;
  flex-direction: column;
}

.flexrow {
  display: flex;
  flex-direction: row;
}

.tile {
  width: 33%;
  border-bottom: 3px solid #0063FF;
 border: 3px solid #8AC007;
 box-shadow: 0 2px 3px 0 rgba(92, 90, 221, 0.2), 0 4px 10px 0 #00000030;
}

.tile-middle {
  width: 35%;
}
